@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

#root {
  height: 100svh;
  width: 100vw;
  background: #0a0a0a;
  @apply flex flex-col items-center font-serif;
}
