@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  height: 100svh;
  width: 100vw;
  background: #0a0a0a;
}

#root {
  @apply flex flex-col items-center font-serif h-full;
}

blockquote {
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  @media (max-width: 768px) {
    padding: 0.35em 10px 0.35em 40px;
  }
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 64px;
  position: absolute;
  left: -10px;
  top: 20px;
  color: #7a7a7a;
  font-family: Georgia, serif;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

blockquote cite {
  color: #999999;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

.fade-in-section {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 1200ms ease-in,
    visibility 1200ms ease-in;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.color-anim {
  animation: color-change 4.5s 1.5s ease forwards;
}
@keyframes color-change {
  0% {
    color: rgb(168 162 158);
  }
  100% {
    color: rgb(153 27 27);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.animate-pulse {
  animation: pulse 1.5s ease-in-out infinite;
}

.emphasize {
  @apply font-[600] text-red-800;
}
